# Default ignored files
/.idea/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/.idea/../../../../../../../../../:\Mi unidad\PUCP\2020-2\Desarrollo de Aplicaciones móviles\Clase 01 - Aplicaciones móvile y Java\PROGRAMAS 2\MASTER\.idea/dataSources/
/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/.idea/httpRequests/
